<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.StudentMapper">

    <!--    查询操作-->
    <select id="selectAllStudents" resultType="com.entity.student">
        select * from school_system.student order by id
    </select>

</mapper>